* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 101, 80);
  /* color: rgb(234, 234, 234);*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.row {
  margin: 0;
}

p,
li {
  font-size: 1.5em;
}

.navbar {
  background: rgb(1, 51, 41);
}

.title {
  margin-top: 0.5%;
  letter-spacing: 0.3em;
  color: rgb(234, 234, 234);
}

/* section containing card and global data starts*/
.covid-short-info {
  color: rgb(234, 234, 234);
  font-size: x-small;
  margin-top: 100px;
}

.card-container {
  background: linear-gradient(225deg, rgb(0, 101, 80), rgb(7, 23, 0));
  border-radius: 10px;
  color: rgb(234, 234, 234);
  box-shadow: rgb(41 107 74) 20px 20px 60px, rgb(55 145 100) -20px -20px 60px;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  margin: auto;
  margin-top: 70px;
}

.figures {
  font-size: 2vw;
  font-weight: 300;
  line-height: 1.2;
}

.figures-label {
  font-size: 1rem;
}

.global-data-container {
  margin-top: 110px;
}
.global-data-heading {
  color: rgb(234, 234, 234);
  font-weight: 400;
  line-height: 1.2;
}

.global_data {
  font-size: x-small;
  color: rgb(234, 234, 234);
}

/* section containing card and global data ends*/

/* dropdown starts */
.dropdown-select:focus {
  outline: none;
}

.dropdown-select {
  padding: 15px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(225deg, rgb(0, 101, 80), rgb(7, 23, 0));
  width: 120px;
  color: rgb(234, 234, 234);
  overflow: hidden;
}
.dropdown-select option {
  background: rgb(40, 104, 72);
  color: rgb(234, 234, 234);
}

/* dropdown ends */

/* explore more starts*/

.vaccination-info,
.state-data,
.more-info {
  text-align: center;
  background-color: rgb(234, 234, 234);
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: inset rgb(1 50 1) 14px -3px 9px 0px, 0 9px 12px rgb(27 46 37);
}

.vaccination-info:active,
.state-data:active,
.more-info:active {
  box-shadow: 0 9px 12px rgb(27 46 37);
  transform: translateY(4px);
}
.explore-more-container a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.explore-more-container a i {
  font-size: 1.2em;
}

/*explore more ends */

/* back button starts */

.back-btn {
  margin-top: 100px;
}
.back-btn a {
  text-decoration: none;
  font-size: larger;
  color: rgb(234, 234, 234);
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(225deg, rgb(0, 101, 80), rgb(7, 23, 0));
}

/* back button starts ends */

/* vaccination starts */
.vaccination-container {
  text-align: center;
  color: rgb(234, 234, 234);
  margin-top: 10px;
}

/* vaccination end */

/* state data display starts */
.states-data-container {
  background-color: rgb(234, 234, 234);
  padding: 3%;
  margin: 6%;
}
/* state data display ends */

/* more info starts */
.doctor-icon {
  width: 80%;
  float: right;
  margin-right: 20%;
}

.covid-info-heading {
  font-size: 5vw;
  margin-left: 12px;
}

.covid-info-text {
  font-size: x-large;
  font-weight: 100;
}

.bg-image {
  background-image: url("./components/assets/images/panel.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60%;
  max-width: 100%;
}

.jumbo-btn:hover {
  color: rgb(234, 234, 234);
}

.jumbo-btn {
  background: linear-gradient(225deg, rgb(0, 101, 80), rgb(7, 23, 0));
  color: rgb(234, 234, 234);
}

/* more info ends */

.img-wrapper {
  display: inline-block; /* shrink wrap to image */
  overflow: hidden;
}
.card-img-top {
  height: 270px;
  display: block; /* no whitespace */
  transition: 0.5s ease-in-out;
}
.card-img-top:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.symptom-container {
  width: 90%;
  margin-left: 5%;
}
.symptoms-heading {
  color: rgb(234, 234, 234);
}
.sym-title {
  padding: 2%;
  text-align: center;
}

/* precautions design */
.bg-image2 {
  background-image: url("./components/assets/images/covid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50%;
  max-width: 100%;
}
.prec1,
.prec2 {
  width: 70%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.conti {
  display: flex;
  z-index: -1;
}
/* wash hands starts*/
.indicator-container {
  color: rgb(234, 234, 234);
}

.wash-hands {
  margin: auto;
}

.indicator {
  transition: 0.5s ease-in-out;
  height: 130px;
  width: 130px;
}

.indicator:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* wash hands ends*/

address {
  margin-left: 15em;
}
.footer {
  margin-top: 10%;
  background-color: rgb(1, 68, 55);
  text-align: center;
}
.cpright {
  background-color: rgb(1, 51, 41);
}

.loading {
  margin-top: 50px;
  text-align: center;
}

.loading img {
  width: 50%;
  height: auto;
}

@media (max-width: 700px) {
  .timer {
    font-size: 12px;
  }

  .covid-short-info {
    margin-top: 130px;
  }
  .card-container {
    padding: 0;
    margin-top: 30px;
  }
  .figures {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .figures-label {
    font-size: 0.8rem;
  }
  .global-data-container {
    margin-top: 50px;
    border: 1px solid rgb(234, 234, 234);
  }
  .global-data-heading {
    font-weight: 400;
    font-size: xx-large;
    margin: 0;
    margin-left: 15px;
  }

  .global_data {
    font-size: small;
    margin-left: 20px;
  }
  .back-btn {
    margin-top: 180px;
  }
  th,
  td {
    font-size: 10px;
    text-align: center;
  }
  .tablehead {
    font-size: 20px;
    padding-top: 5px;
    text-align: right;
  }

  .covid-info-text {
    font-size: large;
    font-weight: 100;
  }

  .doctor-icon {
    display: none;
  }
  .card-img-top {
    height: 70px;
    display: block;
    transition: 0.5s ease-in-out;
  }
  .sym-title h3 {
    padding: 2%;
    text-align: center;
    font-size: x-small;
  }
  .card-text li {
    font-size: x-small;
  }
  .prec1 > .card-header,
  .prec2 > .card-header {
    font-size: x-small;
  }

  address {
    margin-left: 0;
  }
  .loading {
    margin-top: 160px;
  }
}
